{% extends 'navbar.html' %}

{% block body %}

<div class="container">
    <h1 class="titulo-pagina">Añadir un nuevo usuario</h1>
    <h3>Tipo de usuario a añadir:</h3>
    
    <!-- Sistema de pestañas -->
    <div class="ui top attached tabular menu">
        <a class="active item" data-tab="first" data-bcup-haslogintext="no">Administrador</a>
        <a class="item" data-tab="second" data-bcup-haslogintext="no">Facilitador</a>
        <a class="item" data-tab="third" data-bcup-haslogintext="no">Persona</a>
    </div>

    <!-- Pestaña para el admin -->
    <div class="ui bottom attached active tab segment" data-tab="first">
        <!-- Formulario -->
        <form method="POST" enctype="multipart/form-data" action="registro.php">
            <div class="row etiqueta-foto-usuario">
                <p>Pulsa en la imagen para añadir una fotografía</p>
            </div>

            <!-- No se muestra -->
            <input type="hidden" name="tipo" value="Admin">

            <div class="row">
                <label class="foto-input-label" for="foto-usuario-input-1">
                    <img src="img/image.jpg" />
                </label>
                <input id="foto-usuario-input-1" class="foto-input" type="file" name="avatar">
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="usuario">Nombre</label>
                        <input type="text" class="form-control" name="usuario" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pass">Contraseña</label>
                        <input type="password" class="form-control" name="pass" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="repetirPass">Repetir contraseña</label>
                        <input type="password" class="form-control" name="repetirPass" required>
                    </div>
                </div>
            </div>
            
            <div class="edicion-submit">
                <button type="submit" class="ui primary button" data-bcup-haslogintext="no">
                    Guardar
                </button>
            </div>
        </form>
    </div>

    <!-- Pestaña para el capacitador -->
    <div class="ui bottom attached tab segment" data-tab="second">
        <!-- Formulario -->
        <form method="POST" enctype="multipart/form-data" action="registro.php">
            <div class="row etiqueta-foto-usuario">
                <p>Pulsa en la imagen para añadir una fotografía</p>
            </div>

            <!-- No se muestra -->
            <input type="hidden" name="tipo" value="Tutor">

            <div class="row">
                <label class="foto-input-label" for="foto-usuario-input-2">
                    <img src="img/image.jpg" />
                </label>
                <input id="foto-usuario-input-2" class="foto-input" type="file" name="avatar">
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="usuario">Nombre</label>
                        <input type="text" class="form-control" name="usuario" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pass">Contraseña</label>
                        <input type="password" class="form-control" name="pass" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="repetirPass">Repetir contraseña</label>
                        <input type="password" class="form-control" name="repetirPass" required>
                    </div>
                </div>
            </div>
            
            <div class="edicion-submit">
                <button type="submit" class="ui primary button" data-bcup-haslogintext="no">
                    Guardar
                </button>
            </div>
        </form>
    </div>

    <!-- Pestaña para personas -->
    <div class="ui bottom attached tab segment" data-tab="third">
        <!-- Formulario -->
        <form method="POST" enctype="multipart/form-data" action="registro.php">
            <div class="row etiqueta-foto-usuario">
                <p>Pulsa en la imagen para añadir una fotografía</p>
            </div>

            <!-- No se muestra -->
            <input type="hidden" name="tipo" value="Usuario">

            <div class="row">
                <label class="foto-input-label" for="foto-usuario-input-3">
                    <img src="img/image.jpg" />
                </label>
                <input id="foto-usuario-input-3" class="foto-input" type="file" name="avatar">
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="usuario">Nombre</label>
                        <input type="text" class="form-control" name="usuario" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="login-fotos">
                    <h2 class="text-center">Pulsa sobre las imágenes en orden para establecer la contraseña</h2>
                    <button type="button" onclick="borrarContrasena()" class="ui primary fluid button" data-bcup-haslogintext="no">Pulsa aquí para empezar de nuevo</button>
                    <input type="hidden" name="pass" id="input-fotos" value="">
                    <div id="grid-imagenes">
                        <img class="imagen-selector" onclick="aniadirContrasena(this, 'arbol')" src="../img/pictogramas/arbol.png" alt="árbol" data-seleccionada="no">
                        <img class="imagen-selector" onclick="aniadirContrasena(this, 'avion')" src="../img/pictogramas/avion.png" alt="avión" data-seleccionada="no">
                        <img class="imagen-selector" onclick="aniadirContrasena(this, 'balon')" src="../img/pictogramas/balon.png" alt="balón" data-seleccionada="no">
                        <img class="imagen-selector" onclick="aniadirContrasena(this, 'botella')" src="../img/pictogramas/botella.png" alt="botella" data-seleccionada="no">
                        <img class="imagen-selector" onclick="aniadirContrasena(this, 'coche')" src="../img/pictogramas/coche.png" alt="coche" data-seleccionada="no">
                        <img class="imagen-selector" onclick="aniadirContrasena(this, 'leon')" src="../img/pictogramas/leon.png" alt="león" data-seleccionada="no">
                        <img class="imagen-selector" onclick="aniadirContrasena(this, 'moto')" src="../img/pictogramas/moto.png" alt="moto" data-seleccionada="no">
                        <img class="imagen-selector" onclick="aniadirContrasena(this, 'ordenador')" src="../img/pictogramas/ordenador.png" alt="ordenador" data-seleccionada="no">
                        <img class="imagen-selector" onclick="aniadirContrasena(this, 'enchufe')" src="../img/pictogramas/enchufe.png" alt="enchufe" data-seleccionada="no">
                    </div>
                    <!-- Aqui añadir una alerta si la contraseña no es válida -->
                    <div class="alert alert-danger" style="width: 100%; display: none;" id="alerta-pass-invalida" role="alert">
                        Contraseña usada. Introduzca otra combinación
                    </div>
                    <button type="button" id="boton-comprobar" onclick="comprobarPass()" class="ui primary fluid button" data-bcup-haslogintext="no">Comprobar contraseña</button>
                </div>
            </div>
            
            <div class="edicion-submit"  id="boton-guardar" style="display: none;">
                <button type="submit" class="ui primary button" data-bcup-haslogintext="no">
                    Guardar
                </button>
            </div>
        </form>
    </div>


    <!-- Javascript necesario para el funcionamiento del sistema de pestañas -->
    <script>
        $('.menu .item')
            .tab()
        ;
    </script>
    
  </div>

{% endblock %}