{% extends 'navbar.html' %}

{% block estilos %}
{% endblock %}

{% block body %}

{% if usuario['tipo'] == "ADMIN" %}
<!-- Lista con los usuarios, añadir usuario nuevo-->
<div class="container">

  <h1 class="titulo-pagina">Añadir una nueva tarea</h1>
  <h1>No puedes acceder a este recurso</h1>

</div>
{% endif %}

{% if usuario['tipo'] == "TUTOR" %}

<!-- Lista con los usuarios, añadir usuario nuevo-->
<div class="container">

  <h1 class="titulo-pagina">Añadir una nueva tarea</h1>
  <form class="ui form nombre-grupo" id="aniadir-tarea" method="POST" enctype="multipart/form-data" action="_aniadirTarea.php" onsubmit="return hacerSubmit();">
    <div class=" field edicion-submit">
      <button type="submit" class="ui fluid primary button" data-bcup-haslogintext="no">
        Pulsa aquí para guardar todos los cambios
      </button>
    </div>

    <div class="ui icon message" id="warning-carga" style="display: none;">
      <i class="notched circle loading icon"></i>
      <div class="content">
        <div class="header">
          Se está subiendo el archivo
        </div>
        <p>Si está tardando en cargar, es porque el archivo es muy pesado. Espera unos segundos</p>
      </div>
    </div>

    <div class="ui warning message" id="warning-mensaje" style="display: none;">
      <div class="header">Error al enviar los datos. Falta:</div>
      <ul class="list" id="lista-errores">
      </ul>
    </div>

    <div class="field">
      <label>Nombre de la tarea</label>
      <input id="nombre-tarea" type="text" name="nombre" placeholder="Introduce aquí el nombre de la tarea">
    </div>

    <div class="field">
      <div class="two fields">
        <div class="field">
          <label>Pulsa en la imagen para añadir un pictograma</label>
          <div class="row">
            <label class="foto-input-label" for="pictograma">
              <img src="img/image.jpg" />
            </label>
            <input class="foto-input" id="pictograma" type="file" name="pictograma" accept="image/*">
          </div>
        </div>

        <div class="field">
          <label>Pulsa en la imagen para añadir un archivo</label>
          <div class="row">
            <label class="foto-input-label" for="multimedia">
              <img src="img/image.jpg" />
            </label>
            <input class="foto-input" id="multimedia" type="file" name="multimedia" accept="image/*, video/*, audio/*">
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <label>Añadir texto</label>
      <textarea id="comentario-tarea" name="comentario" style="resize: none; height: 250px;"></textarea>
      <!-- </div> -->
    </div>

    <div class="field">
      <label>Usuarios/grupos de la tarea</label>
      <div class="ui fluid icon input" id="busqueda-admin">
        <input type="text" placeholder="Busqueda..." oninput="buscar(this,0)">
        <i class="search icon"></i>
      </div>
    </div>

    <!-- TODO: Añadir fotos de grupo a las tarjetas -->
    <!-- TODO: Cambiar de añadido a añadir con javascript
                 Para cambiar el tipo de boton solo hay que quitar y poner la clase basic del boton-->
    <div class="ui three stackable cards cards-grid">
      <!-- Aqui van las tarjetas -->
      <!-- Card -->
      {% for user in usuarios %}
      {% if user['tipo'] == "USUARIO" %}
      <div class="ui card">
        <div class="image imagen-tarjeta" style="background-image: url('{{ user['avatar'] }}');">
        </div>
        <div class="content">
          <a class="header" data-bcup-haslogintext="no">{{ user['nombre'] }}</a>
          <div class="meta">
            <span>USUARIO</span>
          </div>
        </div>
        <div class="extra content">
          <div class="ui fluid basic blue button" onclick="aniadirUsuario(this, {{ user['cod_usuario'] }})">Añadir</div>
          <div class="ui calendar">
            <div class="ui input left icon fecha-fin-aniadir">
              <i class="calendar icon"></i>
              <input id="fecha-usuario-{{ user['cod_usuario'] }}" name="fecha" type="text" placeholder="Fecha">
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

      {% for grupo in grupos %}
      <div class="ui card">
        <div class="image imagen-tarjeta" style="background-image: url('img/grupo.png');">
        </div>
        <div class="content">
          <a class="header" data-bcup-haslogintext="no">{{ grupo['nombre'] }}</a>
          <div class="meta">
            <span>GRUPO</span>
          </div>
        </div>
        <div class="extra content">
          <div class="ui fluid basic blue button" onclick="aniadirGrupo(this, {{ grupo['cod_grupo'] }})">Añadir</div>
          <div class="ui calendar">
            <div class="ui input left icon fecha-fin-aniadir">
              <i class="calendar icon"></i>
              <input id="fecha-grupo-{{ grupo['cod_grupo'] }}" name="fecha" type="text" placeholder="Fecha">
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </form>
</div>


<script>
  $('.fecha-fin-aniadir').calendar({
    type: 'date',
    monthFirst: false,
    formatter: {
      date: function (date, settings) {
        if (!date) return '';
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        return day + '/' + month + '/' + year;
      }
    }
  });
</script>

<script src="assets/js/aniadirTarea.js"></script>

{% endif %}

{% if usuario['tipo'] == "USUARIO" %}
    
    <div class="container">
        
        <h1>No puedes acceder a este recurso</h1>

    </div>

{% endif %}

{% endblock %}