{% extends 'navbar.html' %}

{% block estilos %}

{% if usuario['tipo'] == "USUARIO" %}

<link rel="stylesheet" href="assets/css/propio/tarjetas.css">

{% endif %}

{% endblock %}

{% block body %}

  {% if usuario['tipo'] == "TUTOR" %}
    <div class="container">
      <h1 class="titulo-pagina">Calendario</h1>
      <div id="calendario">

      </div>
    </div>

      <script>

          document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendario');
        
            var calendar = new FullCalendar.Calendar(calendarEl, {
              initialDate: moment().format("YYYY-MM-DD"),
              locale: 'es',
              editable: true,
              selectable: true,
              businessHours: true,
              dayMaxEvents: true, // allow "more" link when too many events
              events: [
                  // La que no tienen fecha no se muestran
                  {% for tarea in tareas %}
                  {
                      title: '{{ tarea['titulo'] }} - {{ tarea['nombre'] }}',
                      start: '{{ tarea['fecha_limite'] }}',
                      {% if tarea['realizada'] %}
                      color: 'green',
                      {% endif %}
                      url: 'tarea.php?cod_tarea={{ tarea['cod_tarea'] }}'
                  },
                  {% endfor %}
                  {
                      // Tarea vacía para que no haya problema al generar el array con twig
                      title: '',
                      start: ''
                  }
              ]
            });
        
            calendar.render();
          });
        
        </script>
  {% endif %}
  {% if usuario['tipo'] == "USUARIO" %}

  <div class="container">
    <!-- Título -->
    <h1 class="titulo-pagina">Calendario</h1>

    <div class="indicador-semana-div">
      <h2 class="titulo-semana flex-item-calendario-titulo">
        {% if semana == 0 %}
          Semana actual
        {% elseif semana == -1 %}
          Semana pasada
        {% elseif semana == 1 %}
          Semana siguiente
        {% elseif semana > 1 %}
          Dentro de {{ semana }} semanas
        {% elseif semana < -1 %}
          Hace {{ semana|abs }} semanas
        {% endif %}
      </h2>      
      <div class="flex-item-calendario-titulo">
        <form METHOD="GET" action="calendario.php" class="formularios-siguiente-semana">
          <button class="botones-calendario big ui labeled icon button" data-bcup-haslogintext="no" alt="Ir a la semana anterior">
            <i class="left chevron icon"></i>
            <!-- Semana anterior -->
            Semana anterior
          </button>
          <input type="hidden" name="semana" value="{{ semana-1 }}">
        </form>
        <form METHOD="GET" action="calendario.php" class="formularios-siguiente-semana">
          <button class="botones-calendario big ui labeled icon button" data-bcup-haslogintext="no" alt="Ir a la semana siguiente">
            <!-- Siguiente semana -->
            <i class="right chevron icon"></i>
            Siguiente semana
          </button>
          <input type="hidden" name="semana" value="{{semana+1}}">
        </form>
      </div>
    </div>

    <!-- Lunes -->
    <div class="dias-calendario">

      {% if dias['lunes'] %}
        <div class="row dia-usuario">
          <div class="col-sm-2">
            <div class="ui segment indicador-dia-div">
              <div class="indicador-dia">
                <img class="imagen-calendario-usuario" src="../img/pictogramas/semana/lunes.png" alt="Pictograma del lunes">
                <h2 class="titulo-calendario-usuario">Lunes</h2>
              </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="ui segment">
              <div class="ui cards tareas-dia">
                {% for tarea in dias['lunes'] %}
                  <div class="ui card tarjeta-calendario">
                    <div class="image imagen-tarjeta" style="background-image: url('{{ tarea['pictograma'] }}');"></div>
                    <div class="content">
                        <a class="header" data-bcup-haslogintext="no">{{ tarea['titulo'] }}</a>
                    </div>
                    <div class="extra content">
                        <a href="tarea.php?cod_tarea={{ tarea['cod_tarea'] }}">
                            <button class="ui icon button fluid botones-usuario" data-bcup-haslogintext="no">
                            <!-- <i class="eye icon"></i> -->
                            Pulsa para ver la tarea
                            </button>
                        </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if dias['martes'] %}
        <div class="row dia-usuario">
          <div class="col-sm-2">
            <div class="ui segment indicador-dia-div">
              <div class="indicador-dia">
                <img class="imagen-calendario-usuario" src="../img/pictogramas/semana/martes.png" alt="Pictograma del martes">
                <h2 class="titulo-calendario-usuario">Martes</h2>
              </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="ui segment">
              <div class="ui cards tareas-dia">
                {% for tarea in dias['martes'] %}
                <div class="ui card tarjeta-calendario">
                  <div class="image imagen-tarjeta" style="background-image: url('{{ tarea['pictograma'] }}');"></div>
                  <div class="content">
                      <a class="header" data-bcup-haslogintext="no">{{ tarea['titulo'] }}</a>
                  </div>
                  <div class="extra content">
                      <a href="tarea.php?cod_tarea={{ tarea['cod_tarea'] }}">
                          <button class="ui icon button fluid botones-usuario" data-bcup-haslogintext="no">
                          <!-- <i class="eye icon"></i> -->
                          Pulsa para ver la tarea
                          </button>
                      </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if dias['miercoles'] %}
        <div class="row dia-usuario">
          <div class="col-sm-2">
            <div class="ui segment indicador-dia-div">
              <div class="indicador-dia">
                <img class="imagen-calendario-usuario" src="../img/pictogramas/semana/miercoles.png" alt="Pictograma del miércoles">
                <h2 class="titulo-calendario-usuario">Miércoles</h2>
              </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="ui segment">
              <div class="ui cards tareas-dia">
                {% for tarea in dias['miercoles'] %}
                <div class="ui card tarjeta-calendario">
                  <div class="image imagen-tarjeta" style="background-image: url('{{ tarea['pictograma'] }}');"></div>
                  <div class="content">
                      <a class="header" data-bcup-haslogintext="no">{{ tarea['titulo'] }}</a>
                  </div>
                  <div class="extra content">
                      <a href="tarea.php?cod_tarea={{ tarea['cod_tarea'] }}">
                          <button class="ui icon button fluid botones-usuario" data-bcup-haslogintext="no">
                          <!-- <i class="eye icon"></i> -->
                          Pulsa para ver la tarea
                          </button>
                      </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if dias['jueves'] %}
        <div class="row dia-usuario">
          <div class="col-sm-2">
            <div class="ui segment indicador-dia-div">
              <div class="indicador-dia">
                <img class="imagen-calendario-usuario" src="../img/pictogramas/semana/jueves.png" alt="Pictograma del jueves">
                <h2 class="titulo-calendario-usuario">Jueves</h2>
              </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="ui segment">
              <div class="ui cards tareas-dia">
                {% for tarea in dias['jueves'] %}
                <div class="ui card tarjeta-calendario">
                  <div class="image imagen-tarjeta" style="background-image: url('{{ tarea['pictograma'] }}');"></div>
                  <div class="content">
                      <a class="header" data-bcup-haslogintext="no">{{ tarea['titulo'] }}</a>
                  </div>
                  <div class="extra content">
                      <a href="tarea.php?cod_tarea={{ tarea['cod_tarea'] }}">
                          <button class="ui icon button fluid botones-usuario" data-bcup-haslogintext="no">
                          <!-- <i class="eye icon"></i> -->
                          Pulsa para ver la tarea
                          </button>
                      </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if dias['viernes'] %}
        <div class="row dia-usuario">
          <div class="col-sm-2">
            <div class="ui segment indicador-dia-div">
              <div class="indicador-dia">
                <img class="imagen-calendario-usuario" src="../img/pictogramas/semana/viernes.png" alt="Pictograma del viernes">
                <h2 class="titulo-calendario-usuario">Viernes</h2>
              </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="ui segment">
              <div class="ui cards tareas-dia">
                {% for tarea in dias['viernes'] %}
                <div class="ui card tarjeta-calendario">
                  <div class="image imagen-tarjeta" style="background-image: url('{{ tarea['pictograma'] }}');"></div>
                  <div class="content">
                      <a class="header" data-bcup-haslogintext="no">{{ tarea['titulo'] }}</a>
                  </div>
                  <div class="extra content">
                      <a href="tarea.php?cod_tarea={{ tarea['cod_tarea'] }}">
                          <button class="ui icon button fluid botones-usuario" data-bcup-haslogintext="no">
                          <!-- <i class="eye icon"></i> -->
                          Pulsa para ver la tarea
                          </button>
                      </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if dias['sabado'] %}
        <div class="row dia-usuario">
          <div class="col-sm-2">
            <div class="ui segment indicador-dia-div">
              <div class="indicador-dia">
                <img class="imagen-calendario-usuario" src="../img/pictogramas/semana/sabado.png" alt="Pictograma del sabado">
                <h2 class="titulo-calendario-usuario">Sábado</h2>
              </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="ui segment">
              <div class="ui cards tareas-dia">
                {% for tarea in dias['sabado'] %}
                <div class="ui card tarjeta-calendario">
                  <div class="image imagen-tarjeta" style="background-image: url('{{ tarea['pictograma'] }}');"></div>
                  <div class="content">
                      <a class="header" data-bcup-haslogintext="no">{{ tarea['titulo'] }}</a>
                  </div>
                  <div class="extra content">
                      <a href="tarea.php?cod_tarea={{ tarea['cod_tarea'] }}">
                          <button class="ui icon button fluid botones-usuario" data-bcup-haslogintext="no">
                          <!-- <i class="eye icon"></i> -->
                          Pulsa para ver la tarea
                          </button>
                      </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if dias['domingo'] %}
        <div class="row dia-usuario">
          <div class="col-sm-2">
            <div class="ui segment indicador-dia-div">
              <div class="indicador-dia">
                <img class="imagen-calendario-usuario" src="../img/pictogramas/semana/domingo.png" alt="Pictograma del domingo">
                <h2 class="titulo-calendario-usuario">Domingo</h2>
              </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="ui segment">
              <div class="ui cards tareas-dia">
                {% for tarea in dias['domingo'] %}
                <div class="ui card tarjeta-calendario">
                  <div class="image imagen-tarjeta" style="background-image: url('{{ tarea['pictograma'] }}');"></div>
                  <div class="content">
                      <a class="header" data-bcup-haslogintext="no">{{ tarea['titulo'] }}</a>
                  </div>
                  <div class="extra content">
                      <a href="tarea.php?cod_tarea={{ tarea['cod_tarea'] }}">
                          <button class="ui icon button fluid botones-usuario" data-bcup-haslogintext="no">
                          <!-- <i class="eye icon"></i> -->
                          Pulsa para ver la tarea
                          </button>
                      </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if not dias['lunes'] and not dias['martes'] and not dias['miercoles'] and not dias['jueves'] and not dias['viernes'] and not dias['sabado'] and not dias['domingo'] %}
        <h3 id="no-actividad-semana">No hay ninguna actividad programada en la semana</h3>
      {% else %}
      <h3 id="no-actividad-semana">
        {% if semana == 0 %}
          Ya has visto todas las tareas de la semana actual
        {% elseif semana == -1 %}
          Ya has visto todas las tareas de la semana pasada
        {% elseif semana == 1 %}
          Ya has visto todas las tareas de la semana siguiente
        {% elseif semana > 1 %}
          Ya has visto todas las tareas de dentro de {{ semana }} semanas
        {% elseif semana < -1 %}
          Ya has visto todas las tareas de hace {{ semana|abs }} semanas
        {% endif %}
      </h3>
      {% endif %}
    </div>
  </div>
  

  {% endif %}

{% endblock %}