{% extends 'navbar.html' %}

{% block estilos %}
{% endblock %}

{% block body %}

{% if usuario['tipo'] == "ADMIN" %}

<div class="container">
    
    <h1 class="titulo-pagina">Editar un usuario</h1>
    <!-- Formulario -->

    {% if user['tipo'] == "USUARIO" %}
    <!-- Formulario -->
    <form method="POST" enctype="multipart/form-data" action="_editarUsuario.php?cod_usuario={{ user['cod_usuario'] }}" onsubmit="usuarioBien(this,'usuario'); return false;">
        <div class="row etiqueta-foto-usuario">
            <p>Pulsa en la imagen para añadir una fotografía</p>
        </div>

        <!-- No se muestra -->
        <input type="hidden" name="tipo" value="Usuario">

        <div class="row">
            <label class="foto-input-label" for="foto-usuario-input-3">
                <img src="img/image.jpg" />
            </label>
            <input id="foto-usuario-input-3" class="foto-input" type="file" name="avatar">
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="usuario">Nombre</label>
                    <input id="nombre-usuario" type="text" class="form-control" name="usuario" value={{user['nombre']}} required>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" class="ui primary fluid button" onclick="alternarSiContrasena(this, true);" data-bcup-haslogintext="no">Pulsa aquí para modificar la contraseña</button>
        </div>
        <div class="row">
            <div class="alert alert-danger" style="width: 100%; display: none;" id="alerta-usuario" role="alert"></div>
            <div id="login-fotos" style="display: none;">
                <h2 class="text-center">Pulsa sobre las imágenes en orden para establecer la contraseña</h2>
                <button type="button" onclick="borrarContrasena()" class="ui primary fluid button" data-bcup-haslogintext="no">Pulsa aquí para empezar de nuevo</button>
                <input type="hidden" name="pass" id="input-fotos" value="">
                <div id="grid-imagenes">
                    <img class="imagen-selector" onclick="aniadirContrasena(this, 'arbol')" src="../img/pictogramas/arbol.png" alt="árbol" data-seleccionada="no">
                    <img class="imagen-selector" onclick="aniadirContrasena(this, 'avion')" src="../img/pictogramas/avion.png" alt="avión" data-seleccionada="no">
                    <img class="imagen-selector" onclick="aniadirContrasena(this, 'balon')" src="../img/pictogramas/balon.png" alt="balón" data-seleccionada="no">
                    <img class="imagen-selector" onclick="aniadirContrasena(this, 'botella')" src="../img/pictogramas/botella.png" alt="botella" data-seleccionada="no">
                    <img class="imagen-selector" onclick="aniadirContrasena(this, 'coche')" src="../img/pictogramas/coche.png" alt="coche" data-seleccionada="no">
                    <img class="imagen-selector" onclick="aniadirContrasena(this, 'leon')" src="../img/pictogramas/leon.png" alt="león" data-seleccionada="no">
                    <img class="imagen-selector" onclick="aniadirContrasena(this, 'moto')" src="../img/pictogramas/moto.png" alt="moto" data-seleccionada="no">
                    <img class="imagen-selector" onclick="aniadirContrasena(this, 'ordenador')" src="../img/pictogramas/ordenador.png" alt="ordenador" data-seleccionada="no">
                    <img class="imagen-selector" onclick="aniadirContrasena(this, 'enchufe')" src="../img/pictogramas/enchufe.png" alt="enchufe" data-seleccionada="no">
                </div>
                <!-- Aqui añadir una alerta si la contraseña no es válida -->
                <button type="button" id="boton-comprobar" onclick="comprobarPass()" class="ui primary fluid button" data-bcup-haslogintext="no">Comprobar contraseña</button>
            </div>
        </div>
        
        <div class="edicion-submit"  id="boton-guardar">
            <button type="submit" class="ui primary button" data-bcup-haslogintext="no">
                Guardar
            </button>
        </div>
    </form>
    {% else %}
    <form method="POST" enctype="multipart/form-data" action="_editarUsuario.php?cod_usuario={{ user['cod_usuario'] }}" onsubmit="usuarioBien(this,'admin'); return false;">
        <div id="alerta-admin" class="alert alert-warning" role="alert" style="display: none;"></div>
        <div class="row etiqueta-foto-usuario">
            <p>Pulsa en la imagen para cambiar la fotografía</p>
        </div>

        <div class="row">
            <label class="foto-input-label" id="foto-usuario-label" for="foto-usuario-input">
                <img src="img/image.jpg" />
            </label>
            <input class="foto-input" id="foto-usuario-input" type="file" name="avatar">
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="usuario">Nombre</label>
                    <input id="nombre-admin" type="text" class="form-control" name="usuario" value={{user['nombre']}} required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">   
                <div class="form-group">
                    <label for="pass">Contraseña</label>
                    <input id="pass-1-admin" type="password" class="form-control" name="pass" placeholder="Rellenar solo si quiere cambiar su contraseña">
                </div>
            </div>
            <div class="col-md-6">   
                <div class="form-group">
                    <label for="repetirPass">Repetir contraseña</label>
                    <input id="pass-2-admin" type="password" class="form-control" name="repetirPass" placeholder="Rellenar solo si quiere cambiar su contraseña">
                </div>
            </div>
        </div>

        {% if msg %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
        {% endif %}

        <div class="edicion-submit">
            <button type="submit" class="ui primary button" data-bcup-haslogintext="no">
                Guardar
            </button>
        </div>
    </form>
    {% endif %}
    
  </div>

{% endif %}
{% endblock %}