{% extends 'navbar.html' %}

{% block estilos %}

{% endblock %}

{% block body %}

    {% if usuario['tipo'] == "ADMIN" %}
    <!-- Lista con los usuarios, añadir usuario nuevo-->
    <div class="container">
        
        <h1 class="titulo-pagina">Grupos</h1>
        <h1>No puedes acceder a este recurso</h1>

    </div>
    {% endif %}

    {% if usuario['tipo'] == "TUTOR" %}
    <!-- Grupos confeccionados por el tutor -->
    <div class="container">

        <h1 class="titulo-pagina">Grupos</h1>

        <!-- Si ha sido redireccionado desde la creación de grupos -->
        {% if msg %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endif %}
        <!-- TODO: hacer busqueda -->
        <!-- Barra de búsqueda -->
        <div class="ui fluid icon input" id="busqueda-admin">
            <input type="text" placeholder="Busqueda..." oninput="buscar(this);">
            <i class="search icon"></i>
        </div>
    
        <!-- TODO: Añadir fotos de grupo a las tarjetas -->
        <div class="ui three stackable cards cards-grid">
            <!-- Aqui van las tarjetas -->
            <!-- Añadir usuario -->
            <div class="ui card">
                <a class="image imagen-tarjeta" style="background-image: url('img/grupo.png');" href="creargrupo.php" data-bcup-haslogintext="no">
                </a>
                <div class="content">
                    <a class="center aligned header" data-bcup-haslogintext="no">Crear un grupo</a>
                </div>
            </div>
            {% for grupo in grupos %}
            <!-- Resto de las tarjetas-->
            <!-- Card -->
            <div class="ui card">
                <div class="image imagen-tarjeta" style="background-image: url('img/grupo.png');">
                </div>
                <div class="content">
                    <a class="header" data-bcup-haslogintext="no">{{ grupo['nombre'] }}</a>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                    <form id="editar-grupo-{{ grupo['cod_grupo'] }}" method="post" action="editarGrupo.php" style="display: none;">
                        <input type="hidden" name="cod_grupo" value="{{ grupo['cod_grupo'] }}">
                    </form>
                    <form id="eliminar-grupo-{{ grupo['cod_grupo'] }}" method="post" action="eliminarGrupo.php" style="display: none;">
                        <input type="hidden" name="cod_grupo" value="{{ grupo['cod_grupo'] }}">
                    </form>
                    <div class="ui basic blue button" onclick="document.getElementById('editar-grupo-{{ grupo['cod_grupo'] }}').submit();">Editar</div>
                    <div class="ui basic red button" onclick="document.getElementById('eliminar-grupo-{{ grupo['cod_grupo'] }}').submit();">Eliminar</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
    {% endif %}

    {% if usuario['tipo'] == "USUARIO" %}
    
    <div class="container">
        
        <h1>No puedes acceder a este recurso</h1>

    </div>

    {% endif %}

{% endblock %}