{% extends 'navbar.html' %}

{% block estilos %}

{% endblock %}

{% block body %}

    {% if usuario['tipo'] == "ADMIN" %}
    <!-- Lista con los usuarios, añadir usuario nuevo-->
    <div class="container">
        <!-- TODO: hacer busqueda -->
        <!-- Barra de búsqueda -->
        <div class="ui fluid icon input" id="busqueda-admin">
            <input type="text" placeholder="Busqueda...">
            <i class="search icon"></i>
        </div>

        <div class="ui three stackable cards">
            <!-- Aqui van las tarjetas -->
            <!-- Añadir usuario -->
            <div class="ui card">
                <a class="image" href="aniadirUsuario.php" data-bcup-haslogintext="no">
                    <img src="img/aniadir.jpg">
                </a>
                <div class="content">
                    <a class="center aligned header" data-bcup-haslogintext="no">Añadir un nuevo usuario</a>
                </div>
            </div>
            <!-- Resto de las tarjetas-->
            {% for user in usuarios %}
            {% if user['cod_usuario'] != usuario['cod_usuario'] %}
                <!-- Card -->
                <div class="ui card">
                    <div class="image">
                        <img src={{ user['avatar'] }}>
                    </div>
                    <div class="content">
                        <a class="header" data-bcup-haslogintext="no">{{ user['nombre'] }}</a>
                        <div class="meta">
                            <span class="date">{{ user['tipo'] }}</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                        <div class="ui basic blue button">Editar</div>
                        <div class="ui basic red button">Eliminar</div>
                        </div>
                    </div>
                </div>
            {% endif%}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if usuario['tipo'] == "TUTOR" %}
    <!-- Lista con las tareas, ¿ver tareas completadas tambien?-->
    
    {% endif %}

    {% if usuario['tipo'] == "USUARIO" %}
    <!-- Lista con las tareas por hacer y por puntuar -->
    {% endif %}

{% endblock %}