{% extends 'navbar.html' %}

{% block estilos %}

{% endblock %}

{% block body %}

    {% if usuario['tipo'] == "ADMIN" %}
    <!-- Lista con los usuarios, añadir usuario nuevo-->
    <div class="container">
        <!-- Barra de búsqueda -->
        <div class="ui fluid icon input" id="busqueda-admin">
            <input type="text" placeholder="Busqueda..." name="busqueda" oninput="buscar(this,1)" id="busqueda">
            <i class="search icon"></i>
        </div>

        <div class="ui three stackable cards cards-grid">
            <!-- Aqui van las tarjetas -->
            <!-- Añadir usuario -->
            <div class="ui card">
                <a class="image imagen-tarjeta" style="background-image: url('img/aniadir.jpg');" href="aniadirUsuario.php" data-bcup-haslogintext="no">
                </a>
                <div class="content">
                    <a class="center aligned header" data-bcup-haslogintext="no">Añadir un nuevo usuario</a>
                </div>
            </div>
            <!-- Resto de las tarjetas-->
            {% for user in usuarios %}
            {% if user['cod_usuario'] != usuario['cod_usuario'] %}
                <!-- Card -->
                <div class="ui card">
                    <div class="image imagen-tarjeta" style="background-image: url({{ user['avatar'] }});">
                    </div>
                    <div class="content">
                        <a class="header" data-bcup-haslogintext="no">{{ user['nombre'] }}</a>
                        <div class="meta">
                            <span class="date">{{ user['tipo'] }}</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <a class="ui basic blue button" href="editarUsuario.php?cod_usuario={{ user['cod_usuario'] }}">Editar</a>
                        
                            <a class="ui basic red button" href="eliminarUsuario.php?cod_usuario={{ user['cod_usuario'] }}">Eliminar</a>

                        </div>
                    </div>
                </div>
            {% endif%}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if usuario['tipo'] == "TUTOR" %}
    <!-- Lista con las tareas, ¿ver tareas completadas tambien?-->
    <!-- Lista con las tareas y añadir un usuario nuevo-->
    <div class="container">
        <!-- TODO: hacer busqueda -->
        <!-- TODO: Hacer el filtro de seleccionadas y no seleccionadas -->

        <div class="ui form row">
            <!-- Barra de búsqueda -->
            <div class="col-md-6">
                <div class="ui fluid icon input">
                    <input type="text" placeholder="Busqueda..." name="busqueda" oninput="buscar(this,1)" id="busqueda">
                    <i class="search icon"></i>
                </div>
            </div>
            <!-- Selector corregidas y no corregidas -->
            <div class="col-md-6">
                <select class="ui fluid dropdown" onchange="filtroCorregidas(this)">
                    <option value="T">Todas</option>
                    <option value="C">Corregidas</option>
                    <option value="NC">No corregidas</option>
                </select>
            </div>
        </div>
    
        <!-- Grid con las cartas -->
        <div class="ui three stackable cards cards-grid">
            <!-- Añadir tarea -->
            <div class="ui card">
                <a class="image imagen-tarjeta" style="background-image: url('img/aniadir-tarea.png');" href="" data-bcup-haslogintext="no">
                </a>
                <div class="content">
                    <a class="center aligned header" data-bcup-haslogintext="no">Añadir una nueva tarea</a>
                </div>
            </div>
        
            <!-- TODO: Sacar tareas de un tutor -->
            <!-- Ejemplo de tarea -->
            {% for tarea in tareas %}
                <!-- Card -->
                {% if tarea['realizada'] %}
                <div class="ui card realizada">
                {% else %}
                <div class="ui card no-realizada">
                {% endif %}
                    <div class="image imagen-tarjeta" style="background-image: url('img/tarea.png');"></div>
                    <div class="content">
                        <a class="header" data-bcup-haslogintext="no">{{ tarea['titulo'] }}</a>
                        <div class="meta">
                            <span class="date">{{ tarea['nombre'] }}</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <div class="ui basic blue button">Editar</div>
                            <div class="ui basic red button">Eliminar</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if usuario['tipo'] == "USUARIO" %}
    <!-- Lista con las tareas por hacer y por puntuar -->
    {% endif %}

{% endblock %}