{% extends 'navbar.html' %}

{% block estilos %}

{% endblock %}

{% block body %}

		{% if usuario['tipo'] == "TUTOR" %}
		
		{% endif %}

		{% if usuario['tipo'] == "USUARIO" %}
		<div class="container">
			<h1 id="titulo-tarea">{{ tarea['titulo'] }}</h1>

			<div class="row" id="multimedia">
				{% if not tarea['multimedia'] is same as("multimedia/tarea.png") %}
				<div class="col-md-6">
					{% if 'image' in tipo %}
						<div id="imagen-tarea" style="background-image: url({{ tarea['multimedia'] }});"></div>
					{% elseif 'video' in tipo %}
						<video controls id="video-tarea" preload="metadata">
							<source src="{{ tarea['multimedia'] }}" type="{{ tipo }}">
						</video>
					{% elseif 'audio' in tipo %}
						<audio controls id="video-tarea">
							<source src="{{ tarea['multimedia'] }}" type="{{ tipo }}">
						</audio>
					{% endif %}
					</div>
				<div class="col-md-6" id="descripcion-tarea">
					<h2>Descripción</h2>
					<p>{{ tarea['descripcion'] }}</p>
				</div>
				{% else %}
				<div class="col-md-12" id="descripcion-tarea">
					<p>{{ tarea['descripcion'] }}</p>
				</div>
				{% endif %}
			</div>
			<h2 class="text-center" id="titulo-mensajes">Mensajes</h2>
			<div class="mesgs">
				<div class="msg_history">
					{% for mensaje in tarea['mensajes'] %}
					{% if mensaje['envia'] is same as(usuario['cod_usuario']) %}
						<div class="outgoing_msg">
							<div class="sent_msg">
							<p>{{ mensaje['contenido'] }}</p>
							</div>
						</div>
					{% else %}
					<div class="incoming_msg">
						<div class="received_msg">
							<div class="received_withd_msg">
								<p>{{ mensaje['contenido'] }} </p>
								<span class="time_date">{{ mensaje['fecha'] }} </span>
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="ui fluid action input" id="input-enviar">
				<input type="text" placeholder="Search...">
				<div class="ui button">
					Enviar
				</div>
			</div>
		</div>
		{% endif %}

{% endblock %}