{% extends 'navbar.html' %}

{% block estilos %}

{% endblock %}

{% block body %}

		{% if usuario['tipo'] == "TUTOR" %}
		
		{% endif %}

		{% if usuario['tipo'] == "USUARIO" %}
		<div class="container">
			<h1 id="titulo-tarea">{{ tarea['titulo'] }}</h1>

			<div class="row">
				<div class="col-md-6">
					<img src="{{ tarea['multimedia']}}" alt="">
				</div>
				<div class="col-md-6" id="descripcion-tarea">
					<h2>Descripción</h2>
					<p>{{ tarea['descripcion'] }}</p>
				</div>
			</div>
			<h2 class="text-center" id="titulo-mensajes">Mensajes</h2>
			<div class="mesgs">
				<div class="msg_history">
					<div class="incoming_msg">
						<div class="received_msg">
							<div class="received_withd_msg">
								<p>Test which is a new approach to have all
								solutions</p>
								<!-- <span class="time_date"> 11:01 AM    |    June 9</span></div> -->
							</div>
						</div>
					<div class="outgoing_msg">
						<div class="sent_msg">
						<p>Test which is a new approach to have all
							solutions</p>
						</div>
					</div>
					<div class="incoming_msg">
						<div class="received_msg">
							<div class="received_withd_msg">
								<p>Test, which is a new approach to have</p>
							</div>
						</div>
					</div>
					<div class="outgoing_msg">
						<div class="sent_msg">
							<p>Apollo University, Delhi, India Test</p>
						</div>
					</div>
					<div class="incoming_msg">
						<div class="received_msg">
							<div class="received_withd_msg">
								<p>We work directly with our designers and suppliers,
								and sell direct to you, which means quality, exclusive
								products, at a price anyone can afford.</p>
							</div>
						</div>
					</div>
					<!-- </div> -->
					<div class="ui fluid action input" id="input-enviar">
						<input type="text" placeholder="Search...">
						<div class="ui button">
							Enviar
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

{% endblock %}