nav{
    margin-bottom: 40px;
}

footer{
    margin-top: 40px;
}

.navbar-brand img{
    width: 100px;
}

.action-button{
    margin: 0 10px;
    border-radius: 25px;
}

.nav-item{
    padding: 0 15px;
}

footer{
    color: black;
}

/* Titulo de las páginas */
.titulo-pagina{
    text-align: center;
}

.titulo-login{
    text-align: center;
}

.imagen-titulo{
    width: 130px;   
}

.imagen-titulo-div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagen-cambiar-pass-padre{
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagen-cambiar-pass{
    width: 50%;
}

/* Tarjetas */
.imagen-tarjeta{
    height: 300px;
    width: auto;
    background-color: white !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/* Añado padding a las tarjetas arriba */
.cards-grid{
    margin-top: 30px !important;
}


/* Añadir un usuario */
.foto-input-label{
    cursor: pointer;
    margin: 20px auto;
}

.foto-input{
    display: none;
}

.edicion-submit{
    margin-top: 30px;
    text-align: center;
}

.etiqueta-foto-usuario p{
    margin: 0 auto;
}

/* Añadir/editar grupo */
.nombre-grupo{
    margin-bottom: 30px;
    text-align: center;
}

.nombre-grupo label{
    font-size: large !important;
    margin-bottom: 10px !important;
}

/* TAREA */
#titulo-tarea{
    text-align: center;
    margin-bottom: 50px;
}

.imagen-tarea{
    width: 100%;
    height: 300px;
    /* background-color: white !important; */
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.video-tarea{
    width: 100%;
    max-height: 300px;
}

#descripcion-tarea{
    font-size: 18px;
}

#input-enviar{
    margin-top: 30px;
    display: flex;
}

.label-tarea{
    margin: 0 !important;
    background-color: #2185d0 !important;
    color: white !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 700 !important;
    line-height: 1em !important;
    padding: .78571429em 1.5em .78571429em !important;
    font-size: 14px !important;
}

#mensaje-envio-div{
    flex-grow: 1;
}

#boton-mensaje{
    margin: 0;
}

@media screen and (max-width: 800px) {
    #input-enviar{
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .received_withd_msg, .sent_msg{
        width: 90% !important;
    }
}

.seccion-tarea{
    border: 1px solid black;
    border-radius: 5px;
    margin: 30px 0;
    padding: 20px;
}

#form-mensaje, #boton-mensaje, #label-tarea-usuario{
    font-size: 17px;
}

/* Calendario */
#calendario a{
    color: black;
}

/* Calendario usuario */
.titulo-calendario-usuario{
    text-align: center;
    margin-top: 15px;
}

.imagen-calendario-usuario{
    width: 100%;
}

.dia-usuario{
    margin: 30px 0px;
}

.tareas-dia{
    white-space: nowrap;
    overflow-x: auto;
    margin: 0 !important;
    flex-wrap: nowrap !important;
}

.tarjeta-calendario{
    display: inline-block !important;
    margin: 0 20px !important;
    min-width: 200px !important;
    width: 230px !important;
    white-space: normal;
}

.tarjeta-calendario .imagen-tarjeta{
    height: 150px;
}

.indicador-dia-div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicador-dia{
    width: 100%;
}

.indicador-semana-div{
    display: flex;
    flex-wrap: wrap;
}

.titulo-semana{
    margin: 3px;
    flex-grow: 1;
}

#no-actividad-semana{
    text-align: center;
    margin: 50px;
}

.formularios-siguiente-semana{
    display: inline-block;
}

@media screen and (max-width: 700px) {
    .flex-item-calendario-titulo{
        flex-grow: 1;
        text-align: center;
    }
}

/* Añadir tarea */
.fecha-fin-aniadir{
    width: 100%;
    margin-top: 10px;
}
  
