nav{
    margin-bottom: 40px;
}

footer{
    margin-top: 40px;
}

.navbar-brand img{
    width: 100px;
}

.action-button{
    margin: 0 10px;
    border-radius: 25px;
}

.nav-item{
    padding: 0 15px;
}

footer{
    color: black;
}

/* Titulo de las páginas */
.titulo-pagina{
    text-align: center;
}


#imagen-cambiar-pass-padre{
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagen-cambiar-pass{
    width: 50%;
}

/* Tarjetas */
.imagen-tarjeta{
    height: 300px;
    width: auto;
    background-color: white !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/* Añado padding a las tarjetas arriba */
.cards-grid{
    margin-top: 30px !important;
}


/* Añadir un usuario */
.foto-input-label{
    cursor: pointer;
    margin: 20px auto;
}

.foto-input{
    display: none;
}

.edicion-submit{
    margin-top: 30px;
    text-align: center;
}

.etiqueta-foto-usuario p{
    margin: 0 auto;
}

/* Añadir/editar grupo */
.nombre-grupo{
    margin-bottom: 30px;
    text-align: center;
}

.nombre-grupo label{
    font-size: large !important;
    margin-bottom: 10px !important;
}

/* TAREA */
#titulo-tarea{
    text-align: center;
    margin-bottom: 50px;
}

#imagen-tarea{
    width: 100%;
    height: 300px;
    /* background-color: white !important; */
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

#video-tarea{
    width: 100%;
    max-height: 300px;
}

#descripcion-tarea{
    font-size: 18px;
}

#input-enviar{
    margin-top: 30px;
}

#label-tarea{
    margin: 0;
    background-color: #2185d0;
    color: white;
}

.seccion-tarea{
    border: 1px solid black;
    border-radius: 5px;
    margin: 30px 0;
    padding: 20px;
}

#form-mensaje, #boton-mensaje{
    font-size: 17px;
}

/* Calendario */
#calendario a{
    color: black;
}

